{% extends "registration/registration_base.html" %}
{% load i18n crispy_forms_tags %}
{% load static %}
{% block reg_nav%}
<span class="navbar-text">
    Already have an account? <a href=" {% url 'auth_login' %}">Sign in</a>
</span>
{% endblock%}
{% block title %}{% trans "Account Approved" %}{% endblock %}

{% block content %}
<section class="my-lg-14 my-8">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
                <!-- img -->
                <img src="{% static 'app/images/svg-graphics/signup-g.svg' %}" alt="" class="img-fluid">
            </div>
            <!-- col -->
            <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1">
                <div class="mb-lg-9 mb-5">
                    <h1 class="mb-1 h2 fw-bold">Get Start Shopping</h1>
                    <p>Welcome to auspic! Enter your email to get started.</p>
                </div>
                <p>
                    {% trans "The user's account is now approved." %}
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% comment %}
**registration/admin_approve_complete.html**

Used to generate the html body of the admin activation email. Should display a
link for an admin to approve activation of the account. This template has the
following context:

``site``
An object representing the site on which the user registered;
depending on whether ``django.contrib.sites`` is installed, this
may be an instance of either ``django.contrib.sites.models.Site``
(if the sites application is installed) or
``django.contrib.sites.requests.RequestSite`` (if not). Consult `the
documentation for the Django sites framework
<http: //docs.djangoproject.com/en/dev/ref/contrib/sites />`_ for
details regarding these objects' interfaces.

``user``
The new user account

{% endcomment %}