{% extends "registration/registration_base.html" %}
{% load i18n crispy_forms_tags %}
{% load static %}
{% block reg_nav%}
<span class="navbar-text">
    Already have an account? <a href=" {% url 'auth_login' %}">Sign in</a>
</span>
{% endblock%}
{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<section class="my-lg-14 my-8">
    <div class="container">
        <!-- row -->
        <div class="row justify-content-center align-items-center">
            
            <!-- col -->
            <div class="col-12 col-md-6 col-lg-6">
                <div class="mb-lg-9 mb-5">
                    <h1 class="mb-1 h2 fw-bold">Forgot your password?</h1>
                </div>
                <p>
                    {% blocktrans %}
                    Forgot your password? Enter your email in the form below and we'll send you instructions for
                    creating a new one.
                    {% endblocktrans %}
                </p>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="{% trans 'Reset password' %}" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{# This is used by django.contrib.auth #}