{% extends "registration/registration_base.html" %}
{% load i18n crispy_forms_tags %}

{% load static %}

{% block title %}Register for an account{% endblock %}
{% block reg_nav%}
<span class="navbar-text">
    Already have an account? <a href=" {% url 'auth_login' %}">Sign in</a>
</span>
{% endblock%}
{% block content %}


<section class="my-lg-14 my-8">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row justify-content-center align-items-center">
       
        <!-- col -->
        <div class="col-12 col-md-6 col-lg-6">
          <div class="mb-lg-9 mb-5">
            <h1 class="mb-1 h2 fw-bold">Get Start Shopping</h1>
            <p>Welcome to auspic! Enter your email to get started.</p>
          </div>
          <!-- form -->
          <form method="post" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="col-12 d-grid"><button type="submit" class="btn btn-primary">Register</button></div>
            <p>
              <small>
                 By continuing, you agree to our
                 <a href="{% url 'web:terms_conditions' %}">Terms of Service</a>
                 &amp;
                 <a href="{% url 'web:privacy_policy' %}">Privacy Policy</a>
              </small>
           </p>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        </div>
      </div>
    </div>


  </section>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
The registration form. This will be an instance of some subclass
of ``django.forms.Form``; consult `Django's forms documentation
<http: //docs.djangoproject.com/en/dev/topics/forms />`_ for
information on how to display this in a template.
{% endcomment %}
