{% extends "registration/registration_base.html" %}
{% load i18n crispy_forms_tags %}
{% load static %}

{% block reg_nav%}
<span class="navbar-text">
    Already have an account? <a href=" {% url 'auth_login' %}">Sign in</a>
</span>
{% endblock%}

{% block title %}{% trans "Account Activation Resent" %}{% endblock %}

{% block content %}
<p>
<section class="my-lg-14 my-8">
  <div class="container">
    <!-- row -->
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
        <!-- img -->
        <img src="{% static 'app/images/svg-graphics/signin-g.svg' %}" alt="" class="img-fluid">
      </div>
      <!-- col -->
      <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1">
        <div class="mb-lg-9 mb-5">
          <h1 class="mb-1 h2 fw-bold">Sign in to auspic</h1>
          <p>Welcome back to auspic! Enter your email to get started.</p>
        </div>
        {% blocktrans %}
        We have sent an email to {{ email }} with further instructions.
        {% endblocktrans %}
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% comment %}
**registration/resend_activation_complete.html**
Used after form for resending account activation is submitted. By default has
the following context:

``email``
The email address submitted in the resend activation form.
{% endcomment %}