{% extends "registration/registration_base.html" %}
{% load i18n crispy_forms_tags %}
{% load static %}

{% block reg_nav%}
<span class="navbar-text">
    Already have an account? <a href=" {% url 'auth_login' %}">Sign in</a>
</span>
{% endblock%}

{% block title %}{% trans "Resend Activation Email" %}{% endblock %}

{% block content %}
<section class="my-lg-14 my-8">
    <div class="container">
        <!-- row -->
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
                <!-- img -->
                <img src="{% static 'app/images/svg-graphics/signin-g.svg' %}" alt="" class="img-fluid">
            </div>
            <!-- col -->
            <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1">
                <div class="mb-lg-9 mb-5">
                    <h1 class="mb-1 h2 fw-bold">Sign in to auspic</h1>
                    <p>Welcome back to auspic! Enter your email to get started.</p>
                </div>
                <h5 class="fw-bold mb-4">Resend the activation email</h5>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="{% trans 'Submit' %}" class="btn btn-gradient-primary" />
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% comment %}
**registration/resend_activation_form.html**
Used to show the form users will fill out to resend the activation email. By
default, has the following context:

``form``
The registration form. This will be an instance of some subclass
of ``django.forms.Form``; consult `Django's forms documentation
<http: //docs.djangoproject.com/en/dev/topics/forms />`_ for
information on how to display this in a template.
{% endcomment %}