{% extends 'web/base.html' %} {% load static %} {% block title %}About{%endblock%} 
{% block content %}
<!-- section -->
<section class="mt-lg-14 mt-8">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="offset-lg-1 col-lg-10 col-12">
        <div class="row align-items-center mb-14">
          <div class="col-md-6">
            <!-- text -->
            <div
              class="ms-xxl-14 me-xxl-15 mb-8 mb-md-0 text-center text-md-start"
            >
              <h1 class="mb-6">About auspic</h1>
              <p class="mb-0 lead" style="font-size: 15px;">
                Welcome to auspic, where our passion for Gift meets your mobile needs. Founded on the belief that everyone deserves access to top-notch mobile devices and accessories, auspic has been committed to delivering excellence since our inception. We strive to redefine your smartphone experience by offering a curated selection of cutting-edge devices and accessories, coupled with unparalleled customer service. Our team is driven by a dedication to innovation and a deep understanding of what today's tech-savvy consumers desire. At auspic, we aren't just a mobile shop; we're your partners in enhancing connectivity, style, and convenience. Explore our world of mobile wonders, and join us on this exciting journey of staying connected in style.
              </p>
            </div>
          </div>
          <!-- col -->
          <div class="col-md-6">
            <div class="me-6">
              <!-- img -->
              <img
                src="{% static 'app/images/about/' %}"
                alt=""
                class="img-fluid rounded"
              />
            </div>
          </div>
        </div>
        <!-- row -->
        <div class="row mb-12">
          <div class="col-12">
            <div class="mb-8">
              <!-- heading -->
              <h2>How can help you ?</h2>
            </div>
          </div>
          <div class="col-md-4">
            <!-- card -->
            <div class="card bg-light mb-6 border-0">
              <!-- card body -->
              <div class="card-body p-8">
                <div class="mb-4">
                  <!-- img -->
                </div>
                <h4> Product Inquiries</h4>
                <p>Looking for information about our organic and food products? We're happy to assist you in finding the perfect options for your needs. Our team is passionate about our products.</p>
                <!-- btn -->
              </div>

            </div>
          </div>
          <div class="col-md-4">
            <!-- card -->
            <div class="card bg-light mb-6 border-0">
              <!-- card body -->
              <div class="card-body p-8">
                <div class="mb-4">
                  <!-- img -->
                </div>
                <h4>Order Assistance</h4>
                <p>If you have questions about an existing order or need assistance with the ordering process, our customer support team is ready to assist. We aim to ensure your shopping.</p>
                <!-- btn -->
              </div>

            </div>
          </div>
          <div class="col-md-4">
            <!-- card -->
            <div class="card bg-light mb-6 border-0">
              <!-- card body -->
              <div class="card-body p-8">
                <div class="mb-4">
                  <!-- img -->
                </div>
                <h4> Billing and Payments</h4>
                <p>For inquiries related to billing, payments, or any financial matters, please contact our dedicated billing department. We'll address your concerns promptly and professionally.</p>
                <!-- btn -->
              </div>

            </div>
          </div>
          <div class="col">
            <!-- text -->
            <!-- <p>For assistance using auspic services, please visit our <a href="#">Help Center</a></p> -->
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- section -->
<!-- <section class="bg-success py-14">
  <div class="container">
    <div class="row">
      <div class="offset-lg-1 col-lg-10">
        <div class="row">
            <div class="text-white mb-12">
              <h2 class="text-white text-center mb-4">
                Trusted by retailers. Loved by customers.
              </h2>
              <p class="text-center">
                We give everyone access to the food they love and more time to
                enjoy it together.
              </p>
          </div>
          <div class="row row-cols-2 row-cols-md-4">
            <div class="col mb-4 mb-md-0">
              <h3 class="display-5 fw-bold text-white mb-0">500k</h3>
              <span class="fs-6 text-white">Shoppers</span>
            </div>
            <div class="col mb-4 mb-md-0">
              <h3 class="display-5 fw-bold text-white mb-0">4,500+</h3>
              <span class="fs-6 text-white">Cities</span>
            </div>
            <div class="col mb-4 mb-md-0">
              <h3 class="display-5 fw-bold text-white mb-0">40k+</h3>
              <span class="fs-6 text-white">Stores</span>
            </div>
            <div class="col mb-4 mb-md-0">
              <h3 class="display-5 fw-bold text-white mb-0">650+</h3>
              <span class="fs-6 text-white">Retail Brands</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


{% endblock content %}
