{% extends 'web/base.html' %} {% load static %} {% block title %}Contact Us Policy{% endblock%}
{% block content %}
<section class="my-lg-14 my-8">
    <!-- container -->
    <div class="container">
        <div class="row">
            <!-- col -->
            <div class="offset-lg-1 col-lg-9 col-12">
                <div class="mb-8">
                    <!-- heading -->
                    <h1 class="text-center">Contact Us Policy :</h1>
                </div>
                <div>
                    
                    <h4>Email:</h4>
                    <p>auspic.in@gmail.com</p>
            
                    <h4>Phone:</h4>
                    <p>+9788999000000000</p>
                    
                    <h4>Address:</h4>
                    <p>Dubai</p>
                   
                    <h4>Response Time:</h4>
                    <p>We aim to respond promptly during our business hours 9:00AM to 5:00PM.</p>
                    <h4>Privacy and Security:</h4>
                    <p>Do not share sensitive information via email or phone. We'll never ask for such details through these channels.</p>
                    <h4>Feedback and Complaints:</h4>
                    <p>Welcome your feedback. For complaints, we'll investigate promptly and keep you informed.</p>
                    <h4>Updates to Contact Information:</h4>
                    <p>Ensure your contact info is accurate. Notify us of any changes promptly.</p>
                    
                </div>
               
            </div>
        </div>
    </div>
</section>
{% endblock %}