{% extends 'web/base.html' %} {% load static %} {% block title %}Privacy Policy{% endblock%}
{% block content %}

<link rel="stylesheet" href="{% static 'web/css/cart.css' %}">

      
        <!-- /page-title -->
        <!-- main-page -->
        <section class="flat-spacing-25">
            <div class="container">
                <div class="tf-main-area-page">
                    <h4>Refund Policy of auspic</h4>
                    <p>auspic Private Limited, along with its subsidiaries, parent, and affiliated companies, operates this website (“we” or “us”). We are committed to ensuring a smooth and transparent refund process for our customers. This Refund Policy explains the terms and conditions under which refunds are processed. By making a purchase on our website, you acknowledge that you have read and accepted our refund practices as outlined in this policy.</p>
                    <p>We offer refunds under the following conditions:
                        (i)Damaged or Defective Products,
                        (ii)Incorrect Product Received,
                        (iii)Order Cancellations
                    </p>
                    <p>Once your request is reviewed and approved, we will initiate a refund to your original payment method. Refund processing times may vary depending on your payment provider.</p>
                    <p>We reserve the right, in our sole discretion, to modify, update, add to, discontinue, remove or otherwise change any portion of this Privacy Policy, in whole or in part, at any time. When we amend this Privacy Policy, we will revise the “last updated” date located at the top of this Privacy Policy.</p>
                  
                    <p>If you have any questions regarding this Policy, please contact our Customer Service Department via email at 
                       auspic@gmail.com.</p>
                </div>
            </div>
        </section>
        <!-- /main-page -->
     

    </div>
    <!-- gotop -->
   
{% endblock %}