{% extends 'web/base.html' %} {% load static %} {% block title %}shipping policy{% endblock%}
{% block content %}
<section class="my-lg-14 my-8">
    <!-- container -->
    <div class="container">
        <div class="row">
            <!-- col -->
            <div class="offset-lg-1 col-lg-9 col-12">
                <div class="mb-8">
                    <!-- heading -->
                    <h4 class="text-center"><b>shipping Policy - auspic</b></h4>

                </div>
                <div>
                    <p>Experience hassle-free shipping with auspic. Our Shipping Policy ensures transparency and efficiency in delivering your favorite gadgets to your doorstep. </p>

                    <h6 style='font-family:"Albert Sans", sans-serif;'  class='mt-4'>Shipping Options</h6>
                    <p class=''>We offer various shipping options, including standard and expedited services. Shipping costs are calculated at checkout.</p>
                    
                    <h6 style='font-family:"Albert Sans", sans-serif;'>Order Processing</h6>
                    <p>Orders are typically processed within 10 days. Once shipped, you will receive a confirmation email with tracking information.</p>

                    <h6 style='font-family:"Albert Sans", sans-serif;'>International Shipping</h6>
                    <p>auspic ships globally. Please note that international shipping may be subject to customs duties and taxes.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}