{% extends 'web/base.html' %} {% load static %} {% block title %}Privacy Policy{% endblock%}
{% block content %}

<link rel="stylesheet" href="{% static 'web/css/cart.css' %}">
      
        <!-- /page-title -->
        <!-- main-page -->
        <section class="flat-spacing-25">
            <div class="container">
                <div class="tf-main-area-page">

                <div>
                    <h5>1. Use of Website</h5>
                    <p>This website and its content are intended for personal and non-commercial use. You may not modify, distribute, transmit, display, reproduce, publish, license, create derivative works from, transfer, or sell any information or services obtained from this website.</p>
                    
                    <h5>2. Intellectual Property</h5>
                    <p>All content on this website, including but not limited to text, graphics, logos, images, and software, is the property of auspic Private Limited or its licensors and is protected by copyright, trademark, and other intellectual property laws.</p>
                    
                    <h5>3. User Conduct</h5>
                    <p>You agree to use the website only for lawful purposes and in a manner that does not infringe the rights of, restrict, or inhibit anyone else’s use of the website. Prohibited behavior includes, but is not limited to, harassing or causing distress to any individual, transmitting obscene or offensive content, or disrupting the normal flow of dialogue within the website.</p>
                    
                    <h5>4. Changes to Terms</h5>
                    <p>We reserve the right to modify, update, or discontinue any part of these Terms and Conditions at any time, at our sole discretion. When changes are made, we will revise the “last updated” date at the top of this page. Your continued use of the website after any changes constitutes your acceptance of the new Terms and Conditions.</p>
                    
                    <h5>5. Limitation of Liability</h5>
                    <p>auspic Private Limited shall not be liable for any direct, indirect, incidental, consequential, or punitive damages arising from your use of, or inability to use, this website.</p>
                    
                    <h5>6. Governing Law</h5>
                    <p>These Terms and Conditions shall be governed by and construed in accordance with the laws of the jurisdiction in which auspic Private Limited operates, without regard to its conflict of law provisions.</p>
                    
                    <h5>7. Contact Information</h5>
                    <p>If you have any questions regarding these Terms and Conditions, please contact our Customer Service Department via email at auspic@gmail.com.</p>
                </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}