{% extends 'web/base.html' %} {% load static %} {% block title %}Wishlist{% endblock%} 
{% load i18n %}

{% block content %}


    <!-- ========================= Breadcrumb Start =============================== -->
    <div class="breadcrumb py-26 bg-main-two-50">
      <div class="container container-lg">
          <div class="breadcrumb-wrapper flex-between flex-wrap gap-16">
              <h6 class="mb-0">{% trans "Wishlist" %}</h6>
              <ul class="flex-align gap-8 flex-wrap">
                  <li class="text-sm">
                      <a href="{% url 'web:index' %}" class="text-gray-900 flex-align gap-8 hover-text-main-600">
                          <i class="ph ph-house"></i>
                          {% trans "Home" %}
                      </a>
                  </li>
                  <li class="flex-align">
                      <i class="ph ph-caret-right"></i>
                  </li>
                  <li class="text-sm text-main-600"> {% trans "Wishlist" %} </li>
              </ul>
          </div>
      </div>
  </div>
  <!-- ========================= Breadcrumb End =============================== -->
  <section class="cart py-50">
    <div class="container container-lg">
        <div class="row gy-4">
            <div class="col-xl-12 col-lg-12">
                <div class="cart-table border border-gray-100 rounded-8 px-40 py-48">
                    <div class="overflow-x-auto scroll-sm scroll-sm-horizontal">
                        <table class="table style-three">
                            <thead>
                                <tr>
                                    <th class="h6 mb-0 text-lg fw-bold">{% trans "Delete" %}</th>
                                    <th class="h6 mb-0 text-lg fw-bold">{% trans "Product Name" %}</th>
                                    <th class="h6 mb-0 text-lg fw-bold">{% trans "Price" %}</th>
                                    <th class="h6 mb-0 text-lg fw-bold">{% trans "Status" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for item in wishlist_items %}
                                <tr>
                                    <td class="remove-btn" data-product_id="{{ item.id }}">
                                        <button type="button" class="remove-tr-btn flex-align gap-12 hover-text-danger-600">
                                            <i class="ph ph-x-circle text-2xl d-flex"></i>
                                            {% trans "Remove" %}
                                        </button>
                                    </td>
                                    <td>
                                        <div class="table-product d-flex align-items-center gap-24">
                                            <a href="#" class="table-product__thumb border border-gray-100 rounded-8 flex-center ">
                                                <img src="{{item.product_varients.thumbnail_image.extra_small.url}}" alt="{{item.product_varient}}">
                                            </a>
                                            <div class="table-product__content text-start">
    
                                                <h6 class="title text-lg fw-semibold mb-8">
                                                    <a href="#" class="link text-line-2" tabindex="0">{{ item.product_varients|truncatechars:30 }}</a>
                                                </h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="text-lg h6 mb-0 fw-semibold">&#x20b9; {{ item.product_varients.selling_price }}</span>
                                    </td>
                                    <td>
                                        <div class="d-flex rounded-4 overflow-hidden">
                                          <button type="submit" class="btn {% if item.product_varients.is_stock %}bg-success{% else %}bg-danger{% endif %} py-18 w-100 rounded-8"> {% if item.product_varients.is_stock %}{% trans "In Stock" %}{% else %}{% trans "Out of Stock" %}{% endif %}</button>

                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
           
          
        </div>
    </div>
 </section>

 <section class="shipping mb-24" id="shipping">
    <div class="container container-lg">
        <div class="row gy-4">
            <div class="col-xxl-3 col-sm-6">
                <div class="shipping-item flex-align gap-16 rounded-16 bg-main-50 hover-bg-main-100 transition-2">
                    <span class="w-56 h-56 flex-center rounded-circle bg-main-600 text-white text-32 flex-shrink-0"><i class="ph-fill ph-car-profile"></i></span>
                    <div class="">
                        <h6 class="mb-0">{% trans "Fast Delivery" %}</h6>
                        <span class="text-sm text-heading">{% trans "Quick and reliable shipping." %}</span>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-sm-6">
                <div class="shipping-item flex-align gap-16 rounded-16 bg-main-50 hover-bg-main-100 transition-2">
                    <span class="w-56 h-56 flex-center rounded-circle bg-main-600 text-white text-32 flex-shrink-0"><i class="ph-fill ph-hand-heart"></i></span>
                    <div class="">
                        <h6 class="mb-0"> {% trans "100% Satisfaction" %}</h6>
                        <span class="text-sm text-heading">{% trans "Your satisfaction is guaranteed." %}</span>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-sm-6">
                <div class="shipping-item flex-align gap-16 rounded-16 bg-main-50 hover-bg-main-100 transition-2">
                    <span class="w-56 h-56 flex-center rounded-circle bg-main-600 text-white text-32 flex-shrink-0"><i class="ph-fill ph-credit-card"></i></span>
                    <div class="">
                        <h6 class="mb-0"> {% trans "Secure Payments" %}</h6>
                        <span class="text-sm text-heading">{% trans "Safe and secure transactions." %}</span>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-sm-6">
                <div class="shipping-item flex-align gap-16 rounded-16 bg-main-50 hover-bg-main-100 transition-2">
                    <span class="w-56 h-56 flex-center rounded-circle bg-main-600 text-white text-32 flex-shrink-0"><i class="ph-fill ph-chats"></i></span>
                    <div class="">
                        <h6 class="mb-0"> {% trans "24/7 Support" %}</h6>
                        <span class="text-sm text-heading">{% trans "Assistance anytime, every day." %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>
   
{% endblock content %}

{% block js %}
<script src="{% static 'app/js/wishlist.js' %}"></script>
{% endblock %}